<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="GENERATOR" content="MSHTML 11.00.9600.17924">
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <h2 style="margin-bottom:20px">Sus canciones guardadas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Artista</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/48UPSzbZjgc449aqz8bxox">Californication</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/51c94ac31swyDQj9B3L">Change (In the House of Flies) - In The House Of Flies LP Version</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/4CbKVDZkYKdv69I4bCaKUq">Hero</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/2K2YkSn2utzsRntEClbyB8">Ilegal</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/5KDNFlHAdDJ84fhK27c">Judith</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/3qMJE4uJUJLiYofEHDH68x">Mr. Torture</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/5qFxuUIAwJlzO60vqOiL7y">Rainbow In The Dark</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/2aibwv5hGXSgw7Yru8IYTO">Snow (Hey Oh)</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/5fIZDuxfuM4tANRHZ8Btju">The Last In Line</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/2pxAohyJptQWTQ5ZRWYijN">The Trooper - 1998 Remastered Version</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/3d9DChrdc6BOeFsbrZ3Is0">Under The Bridge</a></td>
                        </tr>
                        <tr>
                            <td><a target="_blank" href="https://open.spotify.com/track/6qxi41lmbH35MT29bqlL4k">We Rock</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
