@model Cenfotec.Components.Web.Models.TrackModels
@{
    string versionAssembly = typeof(Cenfotec.Components.Web.MvcApplication).Assembly.GetName().Version.ToString();
    var urlBase = this.Request.Url.Scheme + "://" + this.Request.Url.Host + ":" + this.Request.Url.Port + this.Request.ApplicationPath;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h2>Xpotify - Sus canciones</h2>
    <br />

    @if (Model != null && Model.TracksList != null && Model.TracksList.Count > 0)
    {
        <div class="row">
            @foreach (var track in Model.TracksList)
            {
                <div class="col-md-4">
                    <iframe src="@track.src" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <a onclick="EliminarCancion(@track.id, @track.user_id)" style="margin-bottom:30px"><span><i class="fas fa-trash-alt" style="font-size:30px;"></i></span></a>
                </div>
                
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning">
            <center>
                <strong>Aún no tiene canciones guardadas <i class="fas fa-frown"></i></strong>
            </center>
        </div>
    }

    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <a class="btn btn-outline-primary btn-md" id="btnReturn"><i class="fas fa-hand-point-left"></i>Regresar</a>
        </div>
        @if (Model != null && Model.TracksList != null && Model.TracksList.Count > 0)
        {
            <div class="col-md-3">
                <a class="btn btn-outline-primary btn-md" id="btnEnviarPorCorreo()" onclick="EnviarCorreo()"><i class="far fa-envelope-open"></i> Enviar por correo</a>
            </div>
        }

    </div>
    <input type="hidden" id="hdnUserId" value="@Model.user_id" />
</body>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<script src="~/Scripts/Spotify/spotify.js?v=@(versionAssembly)"></script>
<link rel="stylesheet" href="~/Content/sweet-alert.css?v=@(versionAssembly)">
<script src="~/Scripts/sweet-alert.js?v=@(versionAssembly)"></script>

<script>

    $(document).ready(function () {
        $("#btnReturn").attr("href", "../Home/Index?access_token=" + GetURLParameter("access_token"));
    });

    function EnviarCorreo() {
        swal({
            title: "Envío por correo",
            text: "Ingrese el correo electrónico:",
            type: "input",
            showCancelButton: true,
            closeOnConfirm: false,
            inputPlaceholder: "Correo electrónico"
        }, function (inputValue) {
            if (inputValue === false) return false;
            if (inputValue === "") {
                swal.showInputError("El correo electrónico es requerido");
                return false
            }
            else {
                var modelo = {
                    correoDestino: inputValue,
                    user_id: $('#hdnUserId').val()
                }

                $.ajax({
                    type: "POST",
                    url:  '@urlBase' + 'User/EnviarCorreo',
                    data: JSON.stringify(modelo),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        swal("Envío exitoso!", "Su lista de canciones fue enviada al correo: " + inputValue, "success");
                    },
                    error: function () {

                    }
                });
            }
        });
    }

    function GetURLParameter(sParam) {
        var sPageUrl = window.location.search.substring(1);
        var sUrlVariables = sPageUrl.split("&");
        for (var i = 0; i < sUrlVariables.length; i++) {
            var sParameterName = sUrlVariables[i].split("=");
            if (sParameterName[0] === sParam) {
                return sParameterName[1];
            }
        }
        return null;
    }

    function EliminarCancion(track_id, user_id)
    {
        var modelo = {
            id: track_id,
            user_id: user_id
        }
        $.ajax({
            type: "POST",
            url:  '@urlBase' + 'User/EliminarCancion',
            data: JSON.stringify(modelo),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.href = "../User/VwSongList?id=" + user_id + "&access_token=" + GetURLParameter("access_token");
            },
            error: function () {

            }
        });
    }
</script>