
@{
    ViewBag.Title = "VwSongList";
}

<h2>VwSongList</h2>

<iframe src="https://open.spotify.com/embed?uri=spotify:track:0B6qYQS41EcbC66r7c4DBB" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>


