
@{
    ViewBag.Title = "VwSongList";
}

<h2>VwSongList</h2>

<div id="songPreview"></div>
<source src="horse.ogg" type="audio/ogg">
<source src="https://p.scdn.co/mp3-preview/08003b8033428927d174b4e2af4e48a48d1e4cc1?cid=4363a32365b6472eb659f5cdd042ed62" type="audio/ogg">
<script>

    var song = $("<div></div>").css("background-image", "url(https://p.scdn.co/mp3-preview/08003b8033428927d174b4e2af4e48a48d1e4cc1?cid=4363a32365b6472eb659f5cdd042ed62)").addClass("profileImage");

    $("#songPreview").append(image);
</script>
