@model Cenfotec.Components.Web.Models.UserModels
@{
    string versionAssembly = typeof(Cenfotec.Components.Web.MvcApplication).Assembly.GetName().Version.ToString();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <main role="main">
        <div class="jumbotron" id="mainBox">
            <h1>MARIO RULES!!!</h1>
            <p class="lead">Con este Website puede ver toda su música.</p>
            <p id="txtUserName"></p>

            <div id="profilePhoto">

            </div>

            <div id="misCanciones" style="margin-top:30px; display:none">
                <div class="col-md-8">
                    <a class="btn btn-outline-dark btn-lg" id="btnVerCanciones" onclick="VerMiMusica()"><i class="fas fa-music"></i> Mi música</a>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary btn-lg" id="BtnLogIn">Inicie sesion con Spotify</a>
                </div>
            </div>
        </div>

        <section class="jumbotron text-center">
            <div class="container">

                <h1 id="ttlLista" class="jumbotron-heading" style="display:none">Lista de canciones</h1>

            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </main>
    <input type="hidden" id="hdnUserId" value="@Model.user_id" />
</body>

</html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<script src="~/Scripts/Spotify/spotify.js?v=@(versionAssembly)"></script>
<link rel="stylesheet" href="~/Content/sweet-alert.css?v=@(versionAssembly)">
<script src="~/Scripts/sweet-alert.js?v=@(versionAssembly)"></script>