<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/Scripts/jquery.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <main role="main">
        <div class="jumbotron" id="mainBox">
            <h1>Xpotify</h1>
            <p class="lead">Con este Website puede ver toda su música.</p>
            <p id="txtUserName"></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-primary btn-lg" id="BtnLogIn">Inicie sesion con Spotify</a>
            </div>
        </div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Lista de canciones</h1>
 
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
<script src="~/Scripts/Spotify/spotify.js"></script>