@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" id="mainBox">
    <h1>Xpotify</h1>
    <p class="lead">Con este Website puede ver toda su música.</p>
    <p id="txtUserName"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <a class="btn btn-primary btn-lg" id="BtnLogIn">Login with spotify</a>
    </div>
</div>


<script src="~/Scripts/Spotify/spotify.js"></script>